body{
 background-image : url("https://wallpaperaccess.com/full/917964.jpg");
 padding-left: 200px;
 padding-right: 200px;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
 font-family: Quicksand;

}

@media screen and (max-width: 1225px) {
  body {
    width: 100%;
    height: 100%;
  }}

.styled{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.one {
   padding: 10px;
}

.two {
  padding: 10px;
}

.three {
  padding: 10px;
}

.four {
  padding: 10px;
}

.five {
  padding: 10px;
}

.six {
  padding: 10px;
}
